<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<meta http-equiv="Cache" content="no-cache">
		<title></title>
		<link href="/static/css/hr_common.css" rel="stylesheet" />
		<link href="/static/css/hr_memberInfo.css" rel="stylesheet" />
		<script src="/static/js/lib/jquery.min.js"></script>
		<script src="/static/js/config/config.js"></script>
		<script src="/static/js/config/localConfig.js"></script>
		<script src="/static/js/config/networkConfig.js"></script>
		<script src="/static/js/sendAjax.js"></script>
		<script src="/static/js/hr_memberInfo.js"></script>
	</head>
	<body class="childrenPage" onload="console.log('index')" onresize="resize()">
		<div class="ctrlPanel">
			<div class="ctrlTitle">
				<span>会员资料</span>
			</div>
		</div>
		<div class="systemTable">
			<div class="head">
				<div class="cell typeCell">类别</div><div class="cell betMinCell">单注最低</div><div class="cell betMaxCell">单注最高</div><div class="cell itemMaxCell">单项最高</div><div class="cell aCell">A盘退佣</div><div class="cell bCell">B盘退佣</div>
			</div>
			<div class="systemCont"></div>
		</div>
	</body>
</html>
