<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<meta http-equiv="Cache" content="no-cache">
		<title></title>
		<link href="/static/css/hr_common.css" rel="stylesheet" />
	</head>

	<body class="childrenPage">
		<div class="pagecont">	
			<div class="rule" style="max-width: 820px;">
				<h3>規則說明</h3>
				<ol>
					<li>如果客戶懷疑自己的資料被盜用，應立即通知本公司，並更改詳細資料，以前的使用者名稱及密碼將全部無效。</li>
					<li>客戶有責任確保自己的帳戶及登入資料的保密性。以使用者名稱及密碼進行的 任何網上投注將被視為有效。</li>
					<li>公佈賠率時出現的任何打字錯誤或非故意人為失誤，本公司保留改正錯誤和按 正確賠率結算投注的權力。您居住所在地的法律有可能規定網路博奕不合法；若此情況屬實，本公司將 不會批准您使用付帳卡進行交易。</li>
					<li>每次登入時客戶都應該核對自己的帳戶結餘額。如對餘額有任何疑問，請在第 一時間內通知本公司。</li>
					<li>一旦投注被接受，則不得取消或修改。</li>
					<li>所有號碼賠率將不時浮動，派彩時的賠率將以確認投注時之賠率為准。</li>
					<li>每注最高投注金額按不同[場次]及[投注項目]及[會員帳號]設定浮動。如投注 金額超過上述設定，本公司有權取消超過之投注金額。</li>
					<li>所有投注都必須在開獎前時間內進行否則投注無效。</li>
				</ol>	
				<h3>六合彩規則說明</h3>
				<ul>
					<li>所有投注派彩彩金皆含本金。</li>
					<li>兩面（指大、小、單、雙）。</li>
					<li>
						<h4>特別號碼 (簡稱: 特碼)</h4>
						<div>香港六合彩公司每期開出的最後一號碼為『特碼』。</div>
					</li>
					<li>
						<h4>特碼大小</h4>
						<div>特小：開出之特碼，(01 ~ 24) 小於 或 等於 24。</div>
						<div>特大：開出之特碼，(25 ~ 48) 大於 或 等於 25。</div>
						<div>和局：特碼為 49 時。</div>
					</li>
					<li>
						<h4>特碼家禽野獸</h4>
						<div>家禽：開出之特碼生肖為豬,羊,狗,馬,雞,牛。</div>
						<div>野獸：開出之特碼生肖為鼠,猴,龍,兔,虎,蛇。</div>
						<div>和局：特碼為 49 時 。</div>
					</li>
					<li>
						<h4>特碼單雙</h4>
						<div>特雙：特碼為『雙數』，如 18、20、34、42。</div>
						<div>特單：特碼為『單數』，如 01、11、35、47。</div>
						<div>和局：特碼為 49 時。</div>
					</li>
					<li>
						<h4>特碼合數單雙</h4>
						<div>合雙：指開出特碼的個位數加上十位數之和為『雙數』，如 02、11、33、44。</div>
						<div>合單：指開出特碼的個位數加上十位數之和為『單數』，如 01、14、36、47。</div>
                        <div>和局：特碼為 49 時。</div>
					</li>
					<li>
						<h4>正碼</h4>
						<div>香港六合彩公司每期開出的前面六個號碼為正碼。下注號碼如在六個正碼 號碼裏為中獎</div>
					</li>
					<li>
						<h4>總和大小</h4>
						<div>總和大：所有七個開獎號碼的分數總和 大於 或 等於 175。如開獎號 碼為 01、09、27、29、33、42、45，分數總和 是 186，則為總和大。</div>
						<div>總和小：所有七個開獎號碼的分數總和 小於 或 等於 174。如開獎號 碼為 01、09、27、29、33、13、22，分數總和 是 144，則為總和小。</div>
					</li>
					<li>
						<h4>總和單雙</h4>
						<div>總和單：所有七個開獎號碼的分數總和是『單數』， 如分數總和是 133、197。</div>
						<div>總和雙：所有七個開獎號碼的分數總和是『雙數』， 如分數總和是 120、188。</div>
					</li>
					<li>
						<h4>三全中</h4>
						<div>選擇投注號碼每三個號碼為一組〈號碼需三個號以上，少於三個號碼不成立〉，對獎號是以正碼對獎〈1～6號不含特碼〉，如三個號碼都是在開獎號碼的正碼裏，視為中獎，其他情形視為不中獎。</div>
					</li>
					<li>
						<h4>三中二</h4>
						<div>中二：選擇投注號碼每三個號碼為一組〈號碼需三個號以上，少於三個號碼不成立〉，如中的二個號碼都是在開獎號碼的正碼裏，為三中二之中二視為中獎。</div>
						<div>中三：選擇投注號碼每三個號碼為一組〈號碼需三個號以上，少於三個號碼不成立〉，如中的三個號碼都是在開獎號碼的正碼裏，為三中二之中三視為中獎。</div>
						<div>除中二、中三外其他情形視為不中獎。</div>
						<div>例：11，17，18 為一組投注號碼，開獎號碼中有11，17兩個正碼〈沒有18號碼〉，為三中二中獎，賠率為三中二之中二的賠率，如果11，17，18三個號碼都是開獎之正碼，視為三中二之中三，賠率為三中二之中三的賠率，如只中一個號或是沒中任何號碼，此情形視為不中獎。</div>
					</li>
					<li>
						<h4>二全中</h4>
						<div>選擇投注號碼每二個號碼為一組〈號碼需二個號以上，少於二個號碼不成立〉，如二個號碼都是在開獎號碼的正碼，視為中獎，其他情形視為不中獎。</div>
						<div>例：11，17二個號碼都是開在正碼裏，視為中獎，如果二個號碼一個中在正碼一個中特碼，此情形視為不中獎。</div>
					</li>
					<li>
						<h4>二中特</h4>
						<div>選擇投注號碼每二個號碼為一組〈號碼需二個號以上，少於二個號碼不成立〉，如二個號碼都是在開獎號碼的正碼，為二中特之中二，如果一個中在正碼一個中特碼為二中特之中特是視為中獎，其他情形視為不中獎。</div>
						<div>例：11，17二個號碼都是開在正碼裏，視為中獎，如果二個號碼一個中在正碼一個中特碼，為二中特之中特是視為中獎，其他情形視為不中獎。</div>
					</li>
					<li>
						<h4>特串</h4>
						<div>選擇投注號碼每二個號碼為一組〈號碼需二個號以上，少於二個號碼不成立〉，如二個號碼其中一個開在正碼，另一個開在特碼，視為中獎，其他情形視為不中獎。如兩個號碼都開在正碼裏視為不中獎。</div>
					</li>
					<li>
						<h4>正碼1-6特</h4>
						<div>正1特、正2特、正3特、正4特、正5特、正6特：指下注的正碼特與現場滾波開出之正碼其開獎順序及開獎號碼相同，視視中獎，如現場滾波第一個正碼開獎為49號，下注第一個正碼特為49則視為中獎，其他號碼視為不中獎。</div>
					</li>
					<li>
						<h4>正碼 1-6</h4>
						<div>香港六合彩公司每期開出的前面六個號碼為正碼，第一個球開出為 正一碼，開出第二球為 正二碼，按照落球順序排列出 (不按照大小作排序)。正一碼 至 正六碼 可以分別投注單雙、大小、紅、綠 、藍波、合數單雙，(與特碼的單雙、大小、紅、綠、藍波、合數單雙規則相同) 。</div>
						<div>如 正一碼 開出為 32 ( 正 一碼 為雙、大、綠波、合數單 ) 。</div>
						<div>如 正二碼 開出為 19 ( 正 二碼 為單、小、紅波、合數雙 ) 。</div>
						<div>如 正三碼 開出為 49 ( 正三碼 單雙、大小、合數單雙為和局，但色波為綠波 ) 。</div>
						<div>投注的號碼 組合符合上列條件視為中獎，其他情形為不中獎。</div>
					</li>
					<li>
						<h4>特碼生肖</h4>
						<div>十二生肖中每一個生肖依序分別代表 49 個號碼。</div>
						<div>今年是蛇年，則由蛇年為起始生肖 ，代表如下：</div>
						<div>
							<table cellspacing="0" cellpadding="5" width="100%" border="0">
								<tbody>
									<tr>
										<td width="38%">蛇 1,13,25,37,49</td>
										<td width="31%">馬 12,24,36,48</td>
										<td width="31%">羊 11,23,35,47</td>
									</tr>
									<tr>
										<td>猴 10,22,34,46</td>
										<td>雞 9,21,33,45</td>
										<td>狗 8,20,32,44</td>
									</tr>
									<tr>
										<td>豬 7,19,31,43</td>
										<td>鼠 6,18,30,42</td>
										<td>牛 5,17,29,41</td>
									</tr>
									<tr>
										<td>虎 4,16,28,40</td>
										<td>兔 3,15,27,39</td>
										<td>龍 2,14,26,38</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
					<li>
						<h4>特碼色波</h4>
						<div>香港六合彩 49 個號碼球分別有紅、藍、綠三種顏色，以特碼開出的顏色和投注的顏色相同視為中獎，顏色代表如下：</div>
						<div style="color: red;">紅波：01, 02, 07, 08, 12, 13, 18, 19, 23, 24, 29, 30, 34, 35, 40, 45, 46。</div>
						<div style="color: blue;">藍波：03, 04, 09, 10, 14, 15, 20, 25, 26, 31, 36, 37, 41, 42, 47, 48。</div>
						<div style="color: #00ca00;">綠波：05, 06, 11, 16, 17, 21, 22, 27, 28, 32, 33, 38, 39, 43, 44, 49。</div>
					</li>
					<li>
						<h4>過關</h4>
						<div>任選2-8串為一投注組合，其賠率為所選串當時賠率的總乘積。投注組合所選串必須全中才視為中獎。當投注組合中某一串號碼為49號時<span style="color: #00ca00;">（49為綠波）</span>，該串之單雙大小為和，該組合將該串賠率以1計算。<span style="color: red;">過關彩金最高賠額為50萬。</span></div>
					</li>
					<li>
						<h4>一肖</h4>
						<div>指開獎7個號碼中含有所屬生肖的一個或多個號碼，但派彩只派一次，即不論同生肖號碼出現一個或多個號碼都只派彩一次。</div>
						<div>今年是蛇年，則由蛇年為起始生肖，代表如下：</div>
						<div>
							<table cellspacing="0" cellpadding="5" width="100%" border="0">
								<tbody>
									<tr>
										<td width="38%">蛇 1,13,25,37,49</td>
										<td width="31%">馬 12,24,36,48</td>
										<td width="31%">羊 11,23,35,47</td>
									</tr>
									<tr>
										<td>猴 10,22,34,46</td>
										<td>雞 9,21,33,45</td>
										<td>狗 8,20,32,44</td>
									</tr>
									<tr>
										<td>豬 7,19,31,43</td>
										<td>鼠 6,18,30,42</td>
										<td>牛 5,17,29,41</td>
									</tr>
									<tr>
										<td>虎 4,16,28,40</td>
										<td>兔 3,15,27,39</td>
										<td>龍 2,14,26,38</td>
									</tr>
								</tbody>
							</table>
						</div>
					</li>
					<li>
						<h4>尾數</h4>
						<div>指開獎7個號碼中含有所屬尾數的一個或多個號碼，但派彩只派一次，即不論同尾數號碼出現一個或多個號碼都只派彩一次。</div>
						<div>
							<table cellspacing="0" cellpadding="5" width="100%" border="0">
								<tbody>
									<tr>
										<td width="34%">1尾：01,11,21,31,41</td>
										<td width="33%">2尾：02,12,22,32,42</td>
										<td width="33%">3尾：03,13,23,33,43</td>
									</tr>
									<tr>
										<td>4尾：04,14,24,34,44</td>
										<td>5尾：05,15,25,35,45</td>
										<td>6尾：06,16,26,36,46</td>
									</tr>
									<tr>
										<td>7尾：07,17,27,37,47</td>
										<td>8尾：08,18,28,38,48</td>
										<td>9尾：09,19,29,39,49</td>
									</tr>
									<tr>
										<td>0尾：10,20,30,40</td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div>例如：開獎結果正碼是11、31、42、44、35、32特別號碼是21則1尾2尾4尾5尾都為中獎，其他尾數都不中獎。</div>
					</li>
					<li>
						<h4>半波</h4>
						<div>以特碼色波和特單，特雙，特大，特小為一個投注組合，當期特碼開出符合投注組合，即視為中獎；若當期特碼開出49號，則視為和局；其餘情形視為不中獎。</div>
					</li>
					<li>
						<h4>六肖</h4>
						<div>挑選6個生肖（排列如同生肖）為一個組合，並選擇開獎號碼的特碼 是否在此組合內，若選擇【中】且開獎號碼的特碼亦在此組合內，則視為中獎，若選擇【不中】且開獎號碼的特碼亦不在此組合內，即視為中獎，若當期特碼開出49 號，則視為和局；其餘情形視為不中獎。</div>
					</li>
					<li>
						<h4>五不中</h4>
						<div>所投注的每五個號碼為一注，每注的五個號碼中如果有當期開獎的所有7個號碼中的一個或多個號碼，則視為不中獎；每注五個號碼中如果沒有當期開獎的所有7個號碼中的一個或多個號碼，則視為中獎。例 如：1、2、3、4、5是一注，開獎的號碼是5、6、7、8、9、10、11，那就是不中獎！再例如1、2、3、4、5是一注，開獎的號碼是6、7、8、9、10、11、12，那就是中獎！</div>
					</li>
					<li>
						<h4>生肖連（中）</h4>
						<div style="color: red;">注：在中獎的情況下，一個生肖有多個開獎的號碼，派彩都 跟中一個號碼一樣！</div>
						<p>四肖連（中）：</p>
						<div>以每四個生肖為一注，每注的每個生肖中如果都有當期開獎的所有7個號碼對應的生肖，則視為中獎。如果其中一個或多個生肖沒有當期開獎的所有7個號碼對應的生肖，則視為不中獎。例如：鼠、牛、虎、兔，是一注，開獎的號碼是：7（豬）、8（狗）、9（雞）、10（猴）、11（羊）、12（馬）、13（蛇），那就是不中獎；再例如 ：鼠、牛、虎、兔，是一注，開獎的號碼是：2（龍）、3（兔）、4（虎）、5（牛）、6（鼠）、7（豬）、8（狗），那就是中獎。</div>
						<p>三肖連（中）：</p>
						<div>以每三個生肖為一注，每注的每個生肖中如果都有當期開獎的所有7個號碼對應的生肖，則視為中獎。如果其中一個或多個生肖沒有當期開獎的所有7個號碼對應的生肖，則視為不中獎。例如：鼠、牛、虎，是一注，開獎的號碼是：7（豬）、8（狗）、9（雞）、10（猴）、11（羊）、12（馬）、13（蛇），那就是不中獎；再例如：鼠、牛、虎，是一注，開獎的號碼是：2（龍）、3（兔）、4（虎）、5（牛）、6（鼠）、7（豬） 、8（狗），那就是中獎。</div>
						<p>二肖連（中）：</p>
						<div>以每二個生肖為一注，每注的每個生肖中如果都有當期開獎的所有7個號碼對應的生肖，則視為中獎。如果其中一個或多個生肖沒有當期開獎的所有7個號碼對應的生肖，則視為不中獎。例如：鼠、牛，是一注，開獎的號碼是：7（豬）、8（狗）、9（雞）、10（猴）、11（羊）、12（馬）、13（蛇），那就是不中獎 ；再例如：鼠、牛，是一注，開獎的號碼是：2（龍）、3（兔）、4（虎）、5（牛）、6（鼠）、7（豬）、8（狗），那就是中獎。</div>
					</li>
					<li>
						<h4>生肖連（不中）</h4>
						<p>四肖連（不中）：</p>
						<div>以每四個生肖為一注，每注的每個生肖中，如果其中一個生肖或者多個生肖有當期所有7個開獎號碼對應的生肖，則視為不中獎；如果每注的各個生肖中都沒有當期所有7個號碼對應的生肖，則視為中獎。例如：鼠、牛、虎、兔，是一注，開獎的號碼是：2（龍）、3（兔）、4（虎）、5（牛）、6（鼠）、7（豬）、8（狗），那就是不中獎；再例如：鼠、牛、虎、兔，是一注，開獎的號碼是：7（豬）、8（狗）、9（雞）、10（猴）、11（羊）、12（馬）、13（蛇），那就是中獎。</div>
						<p>三肖連（不中）：</p>
						<div>以每三個生肖為一注，每注的每個生肖中，如果其中一個生肖或者多個生肖有當期所有7個開獎號碼對應的生肖，則視為不中獎；如果每注的各個生肖中都沒有當期所有7個號碼對應的生肖，則視為中獎。例如：鼠、牛、虎，是一注，開獎的號碼是：2（龍）、3（兔）、4（虎）、5（牛）、6（鼠）、7（豬）、8（狗），那就是不中獎；再例如：鼠、牛、虎，是一注，開獎的號碼是：7（豬）、8（狗）、9（雞）、10（猴）、11（羊）、12（馬）、13（蛇），那就是中獎。</div>
						<p>二肖連（不中）：</p>
						<div>以每二個生肖為一注，每注的每個生肖中，如果其中一個生肖或者多個生肖有當期所有7個開獎號碼對應的生肖，則視為不中獎；如果每注的各個生肖中都沒有當期所有7個號碼對應的生肖，則視為中獎。例如：鼠、牛，是 一注，開獎的號碼是：2（龍）、3（兔）、4（虎）、5（牛）、6（鼠）、7（豬）、8（狗），那就是不中獎；再例如：鼠、牛，是一注，開獎的號碼是：7（豬）、8（狗）、9（雞）、10（猴）、11（羊）、12（馬）、13（蛇），那就是中獎。</div>
					</li>
					<li>
						<h4>尾數連（中）</h4>
						<div style="color: red;">注：在中獎的情況下，一個尾數有多個開獎的號碼，派彩都 跟中一個號碼一樣！</div>
						<p>四尾連（中）：</p>
						<div>以每四個尾數為一注，每注的每個尾數中如果都有當期開獎的所有7個號碼中對應的尾數，則視為中獎。如果其中一個或多個尾數沒有當期開獎的所有7個號碼對應的尾數，則視為不中獎。例如：尾1、尾2、尾3、尾4，是一注，開獎的號碼是：2、3、4、5、6、7、8， 那就是不中獎；再例如：尾1、尾2、尾3、尾4，是一注，開獎的號碼是：1、2、3、4、5、6、7，那就是中獎。</div>
						<p>三尾連（中）：</p>
						<div>以每三個尾數為一注，每注的每個尾數中如果都有當期開獎的所有7個號碼中對應的尾數，則視為中獎。如果其中一個或多個尾數沒有當期開獎的所有7個號碼對應的尾數，則視為不中獎。例如：尾1、尾2、尾3，是一注，開獎的號碼是：2、3、4、5、6、7、8，那就是不中獎；再例如：尾1、尾2、尾3，是一注，開獎的號碼是：1、2、3、4、5、6、7，那就是中獎。</div>
						<p>二尾連（中）：</p>
						<div>以每二個尾數為一注，每注的每個尾數中如果都有當期開獎的所有7個號碼中對應的尾數，則視為中獎。如果其中一個或多個尾數沒有當期開獎的所有7個號碼對應的尾數，則視為不中獎。例如：尾1、尾2，是一注，開獎的號碼是：2、3、4、5、6、7、8，那就是不中獎；再例如：尾1、尾2，是一注，開獎的號碼是：1、2、3、4、5、6、7，那就是中獎。</div>
					</li>
					<li>
						<h4>尾數連（不中））</h4>
						<p>四尾連（不中）：</p>
						<div>以每四個尾數為一注，每注的每個尾數中如果都沒有當期開獎的所有7個號碼中對應的尾數，則視為中獎。如果其中一個或多個尾數有當期開獎的所有7個號碼對應的尾數，則視為不中獎。例如：尾1、尾2、尾3、尾4，是一注，開獎的號碼是：2、3、4、5、6、7、8，那就是不中獎；再例如：尾1、尾2、尾3、尾4，是一注，開獎的號 碼是：5、6、7、8、9、10、20，那就是中獎。</div>
						<p>三尾連（不中）：</p>
						<div>以每三個尾數為一注，每注的每個尾數中如果都沒有當期開獎的所有7個號碼中對應的尾數，則視為中獎。如果其中一個或多個尾數有當期開獎的所有7個號碼對應的尾數，則視為不中獎。例如：尾1、尾2、尾3，是一注，開獎的號碼是：2、3、4、5、6、7、8，那就是不中獎；再例如：尾1、尾2、尾3，是一注，開獎的號碼是：5、6、 7、8、9、10、20，那就是中獎。</div>
						<p>二尾連（不中）：</p>
						<div>以每二個尾數為一注，每注的每個尾數中如果都沒有當期開獎的所有7個號碼中對應的尾數，則視為中獎。如果其中一個或多個尾數有當期開獎的所有7個號碼對應的尾數，則視為不中獎。例如：尾1、尾2，是一注，開獎的號碼是：2、3、4、5、6、7、8，那就是不中獎；再例如：尾1、尾2，是一注，開獎的號碼是：5、6、7、8、9、 10、20，那就是中獎。</div>
					</li>
					<li>
						<h4>投注方法簡稱：</h4>
						<p>拖頭：拖頭是多組的簡化叫法。</p>
						<div>如二中二之8拖18、28、13、25，即是四組：8-18、8-28、8-13、8-25；</div>
						<div>如三中二之8、18拖19、20、21，即是三組：8-18-19、8-18-20、8-18-21；</div>
						<div>如二肖連之鼠拖牛、兔、虎、龍，即是四組：鼠-牛、鼠-兔、鼠-虎、鼠-龍；</div>
						<div>如三肖連之鼠、牛拖兔、虎、龍，即是三組：鼠-牛-兔、鼠-牛-虎、鼠-牛-龍；</div>
						<div>如四肖連之鼠、牛、兔拖虎、龍，即是兩組：鼠-牛-兔-虎、鼠-牛-兔-龍。</div>
						<p>複式：複式是多個（號碼、生肖、尾數）的不完全重複組合。</p>
						<p>多注投注：可以連續選多組。</p>
						<p>對碰：對碰是兩組對連的叫法：</p>
						<div>如：二全中，龍碰馬，即是二十組：01,11、01,23、01,35、01,47、11,13、13,23、13,35、13,47、11,25、23,25、25,35、25,47、11,37 23,37、35,37、37,47、11,49、23,49、35,49、47,49</div>
					</li>
				</ul>	
			</div>
		</div>
	</body>
</html>
