.red{
	color: red;
}

.ctrlPanel .ctrlTitle{
	height: 40px;
	line-height: 40px;
}

.ctrlPanel .ctrlTitle label,
.ctrlPanel .ctrlTitle div{
	display: inline-block;
}

.ctrlPanel .ctrlTitle .issue{
	position: absolute;
	left: 20px;
}

.ctrlPanel .ctrlTitle .lotteryType{
	position: absolute;
	left: 120px;
}

.ctrlPanel .ctrlTitle .curTime{
	position: absolute;
	left: 250px;
}

.ctrlPanel .ctrlTitle .closeTime{
	position: absolute;
	left: 490px;
	color: yellow;
}

.ctrlPanel .ctrlTitle .result{
	position: absolute;
	left: 690px;
}

.ctrlCont .ctrlBox{
	display: none;
}

.ctrlCont .quickBet{
	height: 30px;
	line-height: 30px;
}

.ctrlCont .ctrlItem{
	display: inline-block;
	margin-left: 10px;
}

.ctrlCont .quickBet .betMoneyValue{
	width: 60px;
}

.ctrlCont .radio, .ctrlCont .label{
	display: inline-block;
	vertical-align: middle;
}

.ctrlCont .quickBet .OddsBtn{
	width: 40px;
}

.ctrlCont .quickBet #quickBetBtn{
	width: 60px;
}

.systemTable{
	display: none;
}

.systemTable .w50{
	width: 48px;
}

.systemTable .w80{
	width: 78px;
}

.systemTable .w90{
	width: 88px;
}

.systemTable .w120{
	width: 118px;
}

.systemTable .w150{
	width: 148px;
}

.systemTable .w190{
	width: 188px;
}

.systemTable .w200{
	width: 198px;
}

.systemTable .w240{
	width: 238px;
}

.systemTable .w250{
	width: 248px;
}

.systemTable .w330{
	width: 328px;
}

.systemTable .w390{
	width: 388px;
}

.systemTable .w340{
	width: 338px;
}

.systemTable .w450{
	width: 448px;
}

.systemTable .w500{
	width: 498px;
}

.systemTable .w530{
	width: 528px;
}

.systemTable .w680{
	width: 678px;
}

.systemTable .w750{
	width: 748px;
}

.systemTable .w880{
	width: 878px;
	text-align: left;
}

.systemTable .w1000{
	width: 998px;
}

.systemTable .numRow{
	height: 32px;
	line-height: 30px;
}

.systemTable .numRow.head{
	height: 24px;
	line-height: 24px;
}

.systemTable .numRow .numCell{
	display: table-cell;
	width: 29px;
	border-right: solid 1px #d1a832;
}

.systemTable .numRow .oddsCell{
	display: table-cell;
	width: 69px;
	border-right: solid 1px #d1a832;
}

.systemTable .numRow .betMoneyCell{
	display: table-cell;
	width: 100px;
}

.systemTable .numRow .betMoneyCell .betMoneyValue{
	width: 90px;
}

.systemTable .numRow .checkCell{
	display: table-cell;
	width: 85px;
}

.systemTable .systemCont .oddsCell{
	color: red;
	font-weight: bold;
}

.systemTable .twoRow{
	height: 24px;
	line-height: 24px;
}

.systemTable .twoRow .twoCell{
	display: table-cell;
	width: 50px;
	border-right: solid 1px #d1a832;
}

.systemTable .twoRow .oddsCell{
	display: table-cell;
	width: 80px;
	border-right: solid 1px #d1a832;
}

.systemTable .twoRow .betMoneyCell{
	display: table-cell;
	width: 115px;
}

.systemTable .twoRow .betMoneyCell .betMoneyValue{
	width: 100px;
}

.systemTable .btnRow{
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.systemTable .btnRow .btn{
	width: 100px;
	height: 24px;
	line-height: 24px;
	margin-top: 4px;
	margin-left: 20px;
	margin-right: 20px;
}

.btnBox{
	margin-top: 3px;
	margin-bottom: 3px;
	display: none;
}

.btnBox .btn{
	width: 80px;
}

.btnBox .curBtn.btn, .quickBet .curBtn.btn{
	color: red;
}

#linkNormalPanel{
	width: 450px;
}

#linkHeadPanel .systemCont{
	width: 450px;
	display: inline-block;
}

.linkSystemTable .systemCont .oddsCell{
	color: red;
	display: table-cell;
	width: 60px;
	font-size: 12px;
	font-weight: bold;
	vertical-align: top;
}

.systemTable .systemCont .oddsCell .odds1{
	display: none;
}

.systemTable .systemCont .oddsCell .odds2{
	display: none;
	line-height: 15px;
	vertical-align: top;
}

.systemTable .systemCont .oddsCell .odds3{
	display: none;
	line-height: 15px;
	vertical-align: top;
}

.systemTable .animalBtnRow{
	height: 30px;
	line-height: 30px;
	margin-bottom: 5px;
	text-align: left;
}

#linkHeadPanel .animalBtnRow{
	margin-top: -5px;
}


.systemTable .btnRow .btn.animalBtn{
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin: 4px 1px;
}

.systemTable .btnRow .btn{
	width: 50px;
	height: 24px;
	line-height: 24px;
	margin: 4px 3px;
}

.systemTable .betRow{
	height: 30px;
	line-height: 30px;
	text-align: left;
}

.systemTable .betRow .cell{
	text-align: left;
	height: 30px;
	line-height: 30px;
}

.systemTable .betRow .label{
	display: inline-block;
}

.systemTable .betRow .btn{
	width: 50px;
	height: 24px;
	line-height: 24px;
	margin: 2px 3px;
}

.systemTable .groupCount,
.systemTable .animalCount,
.systemTable .ballCount{
	color: red;
}

.systemTable .betRow .betMoneyValue{
	width: 100px;
}

.systemTable .betRow .betBtn{
	width: 80px;
}

.linkSystemTable .systemHead{
	width: 50px;
	height: 320px;
	line-height: 320px;
	background: #d8bb64;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.systemTable .titleCell{
	font-weight: bold;
	font-size: 16px;
}

.linkAnimalSystemTable .numRow .animalCell{
	display: table-cell;
	width: 50px;
	border-right: solid 1px #d1a832;
	text-align: center;
}

.linkAnimalSystemTable .systemCont .oddsCell{
	color: red;
	display: table-cell;
	width: 50px;
	font-size: 12px;
	font-weight: bold;
	vertical-align: top;
}

.systemTable .numRow .animalCell{
	display: table-cell;
	width: 69px;
	border-right: solid 1px #d1a832;
}

#sAnimalPanel .numRow .allNumCell,
#animalLinkPanel .numRow .allNumCell{
	display: table-cell;
	width: 149px;
	border-right: solid 1px #d1a832;
}

#sAnimalPanel .numRow.head .oddsCell{
	color: #000000;
	font-weight: normal;
}


#sAnimalPanel .numRow .oddsCell{
	display: table-cell;
	width: 149px;
	border-right: solid 1px #d1a832;
	color: red;
	font-weight: bold;
}

#sAnimalPanel .numRow .betMoneyCell{
	display: table-cell;
	width: 130px;
}

#sAnimalPanel .numRow .betMoneyCell .betMoneyValue{
	width: 110px;
}

#colorTwoPanel{
	width: 740px;
}

#colorTwoPanel .w740{
	width: 738px;
}

.systemTable .numRow .colorTwoCell{
	display: table-cell;
	width: 69px;
	border-right: solid 1px #d1a832;
}

#colorTwoPanel .numRow .allNumCell{
	display: table-cell;
	width: 295px;
	border-right: solid 1px #d1a832;
}

#colorTwoPanel .numRow.head .oddsCell{
	color: #000000;
	font-weight: normal;
}

#colorTwoPanel .numRow .oddsCell{
	display: table-cell;
	width: 199px;
	border-right: solid 1px #d1a832;
	color: red;
	font-weight: bold;
}

#colorTwoPanel .numRow .betMoneyCell{
	display: table-cell;
	width: 172px;
}

#colorTwoPanel .numRow .betMoneyCell .betMoneyValue{
	width: 150px;
}

.animal6Ctrl .odds{
	color: red;
	font-weight: bold;
	display: inline-block;
}

#animal6Panel{
	width: 480px;
}

#animal6Panel .w240{
	width: 240px;
}

#animal6Panel .numRow .allNumCell{
	display: table-cell;
	width: 119px;
	border-right: solid 1px #d1a832;
}

#animal6Panel .btnRow .betMoneyValue{
	width: 60px;
}

.systemTable .numRow .checkCell{
	display: table-cell;
	width: 50px;
}

#animal1Panel{
	width: 780px;
}

#animal1Panel .numRow .allNumCell{
	display: table-cell;
	width: 147px;
	border-right: solid 1px #d1a832;
}

#unitNumPanel{
	width: 480px;
}

.systemTable .numRow .unitNumCell{
	display: table-cell;
	width: 69px;
	border-right: solid 1px #d1a832;
}

#missPanel{
	width: 750px;
}

#missPanel .betRow,
#animalLinkPanel .betRow{
	height: 34px;
	line-height: 34px;
	text-align: center;
}

#missPanel .betRow .btn,
#animalLinkPanel .betRow .btn{
	width: 60px;
	height: 24px;
	line-height: 24px;
	margin-top: 4px;
}

.systemTable .infoRow{
	height: 30px;
	line-height: 30px;
}

.systemTable .infoRow .label{
	width: 100%;
	text-align: left;
}

#animalLinkPanel{
	width: 680px;
}

.systemTable .radioRow .animalLinkCell,
.systemTable .radioRow .unitLinkCell,
.systemTable .radioRow .animalLinkTypeCell,
.systemTable .radioRow .animalMissCell{
	text-align: left;
}

.systemTable .radioRow .radioItem,
.systemTable .betRow .radioItem{
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 0px 10px;
}

.systemTable .betRow .radioItem{
	margin-top: 8px;
	height: 20px;
	line-height: 20px;
}

.systemTable .radioRow .radioItem .radio,
.systemTable .radioRow .radioItem .label,
.systemTable .betRow .radioItem .radio,
.systemTable .betRow .radioItem .label
{
	display: inline-block;
	vertical-align: top;
}

.systemTable .linkHeadCell{
	text-align: left;
}

.systemTable .linkHeadCell .headCell{
	display: inline-block;
	margin-left: 10px;
	margin-right: 20px;
}

#unitLinkPanel{
	width: 680px;
}

#unitLinkPanel .oddsCell{
	width: 169px;
}

#unitLinkPanel .checkCell{
	width: 99px;
}

#linkBetPanel{
	display: none;
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #FFFFFF;
}

#linkBetPanel .btn{
	width: 80px;
	margin: 10px;
}

#linkNormalPanel .linkNum{
	width: 328px;
}

.systemTable .linkNum{
	width: 878px;
	height: 30px;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.update{
	background-color: yellow;
}